.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  background-color: rgba(251, 26, 26, 0.883);
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.post-container {
  /* display: flex; */
  justify-content: center;
}
.postingss {
  display: flex;
  min-width: 960px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}
.render-post {
  display: 1;
  width: 330px;
  flex-wrap: wrap;
}

.card-text {
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.card-title {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.btn-dark {
  margin-bottom: 10px;
  margin-top: 10px;
}
