.post-container {
  display: block;
}
.header {
  text-align: center;
  display: block;
  background-color: rgb(240, 74, 45);
  width: 90%;
  margin-left: 5%;
  color: white;
  border-radius: 20px;
}

.postings {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.post {
  flex: 1;
  /* width: 330px; */
  flex-wrap: wrap;
}

.header-container {
  display: flex;
  justify-content: center;
}

.render-post {
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
}

.btn-dark {
  margin-bottom: 10px;
  margin-top: 10px;
}
