.post-container{
    display:flex;
    height: 100%;
    justify-content: center;
}
.postings {
    display: flex;
    border: 1px solid black;
    width: 960px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post{
    display:flex;
    width: 200px;
    border: 1px solid green;
    margin: 10px;
    flex-wrap: wrap;
}