.container {
  display: flex;
}

.Wrapper {
  width: 100%;
}

.navbar {
  border-radius: 5px;
  margin: 20px 0;
  justify-content: center;
  width: 100%;
}

.page-buttons {
  width: 100%;
  color: white;
}

button:hover {
  color: #71b7aa;
}
